*::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: transparent;
}

*::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  background-color: transparent;
}

*::-webkit-scrollbar-thumb {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #b3b3b3;
}

.sticky-col {
  position: -webkit-sticky;
  position: sticky;
}

.bg-success-light {
  background-color: #d4edc9 !important;
}

.bg-danger-light {
  background-color: #ffe3e3 !important;
}

/* .first-column {
  position: sticky;
  left: 0px;
  border-left: 1px;
  border-right: 1px;
}

.second-column {
  position: sticky;
  left: 20px;
  border-left: 1px;
  border-right: 1px;
}

.third-column {
  position: sticky;
  left: 70px;
} */

.w-contest {
  width: 280px !important;
  min-width: 280px !important;
  max-width: 280px !important;
  display: flex;
  /* padding: 4px !important; */
}

/* .w-problem .w-100, */
.w-problem {
  width: 180px !important;
  min-width: 180px !important;
  max-width: 180px !important;
}
.w-problem .w-50 {
  width: 50% !important;
  min-width: 50% !important;
  max-width: 50% !important;
}

.w-problem a {
  display: block;
  max-width: 98%;
}

/* .w-problem tbody td {
  width: 90px;
  min-width: 90px;
  max-width: 90px;
} */

.w-problem tbody a {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.w-id {
  width: 50px;
}

.w-sl {
  width: 20px;
}

footer {
  height: 50px !important;
}

/**/
.light-gray {
  color: gray !important;
}

.light-green {
  color: cyan !important;
}

.light-expert {
  color: blue !important;
}

.light-violet {
  color: violet !important;
}

.light-orange {
  color: orange !important;
}

.light-red {
  color: red !important;
}

.light-black-red {
  color: red !important;
}

.light-black-red::first-letter {
  color: black !important;
}
