*::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #c5c2c2;
}

*::-webkit-scrollbar {
  width: 12px;
  background-color: #c5c2c2;
}

*::-webkit-scrollbar-thumb {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #555;
}

.sticky-col {
  position: -webkit-sticky;
  position: sticky;
  background-color: white;
}

.bg-success-light {
  background-color: #d4edc9 !important;
}

.bg-danger-light {
  background-color: #ffe3e3!important;
}